.modal-background {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
    text-align: right;
    width: 50%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .main {
        margin: 10px;
        text-align: center;
    }
    
    .header {
      button {
        background-color : transparent;
        border:none;
        font-weight: 900;
        color: 0f0f0f;
        margin: 20px 20px 0 0;
        transition: ease 300ms;
      }
      button:hover{
        transform: scale(1.5);
        color: fff;
        background-color:0f0f0f;
    }
    }
}